// COLORS

$color-black: #333;
$color-white: rgb(247, 241, 241);
$color-grey-light-1: #ecf0f1;
$color-grey-light-2: #bdc3c7;
$color-grey-dark-1: #95a5a6;
$color-grey-dark-2: #8d8c8c;

$color-snow: #f5f6fa;
$color-sleet: #dff9fb;
$color-hail: #c7ecee;
$color-thunderstorm: #30336b;
$color-heavyrain: #467296;
$color-lightrain: #82ccdd;
$color-showers: #95afc0;
$color-heavycloud: #b2bec3;
$color-lightcloud: #79c4d4;
$color-clear: #48dbfb;

// BORDERS

$border-radius-1: 2px;
